<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943798811914-e3soc4ri31ea5lopk6b46462ru2untc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943798811914-e3soc4ri31ea5lopk6b46462ru2untc9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLQuQRExqnMkqOMGLJIp8I8HY3hrxT7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>943798811914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.highlevel.trellotest</string>
	<key>PROJECT_ID</key>
	<string>hltrello-2116b</string>
	<key>STORAGE_BUCKET</key>
	<string>hltrello-2116b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943798811914:ios:56c8f8f95920893e358ef3</string>
	<key>DATABASE_URL</key>
	<string>https://hltrello-2116b.firebaseio.com</string>
</dict>
</plist>